<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allposte</title>
</head>
<body>
        
    <nav>
        <a href="/allposts">tout les posts</a>
        <a href="/ajoutblog">Ajouter un nouveau blog</a>
    </nav>
    <% data.forEach(blog =>{ %>
        <h2><%=blog.sujet %></h2>
        <h3><%=blog.auteur %></h3>
        <h3><%=blog.description %></h3>
        <h3><%=blog.message %></h3>

        <a href="/blog/<%= blog._id%>">cliquer ici pour editer le blog</a>

    <% }) %>
        
    
</body>
</html>