<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Page Edit</h1>
    <%= data %>

    <form action="/updateblog/<%= data._id%>?_method=PUT" method="post">

        <label>Sujet</label>
        <input type="text" name="sujet" value="<%= data.sujet%>">
        <label>Auteur</label>
        <input type="text" name="auteur" value="<%=data.auteur%>">
        <label>Description</label>
        <input type="text" name="description" id="description">
        <label>Message</label>
        <textarea name="message" id="message"></textarea>

        <input type="submit">
    </form>

    <form action="/deleteblog/<%=data._id%>?_method=DELETE" method="post">
        <input type="submit" value="suprimer le blog">
        
        
    </form>
    
</body>
</html>